<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="coworkee-local" value="../coworkee/artifacts/nuget" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="coworkee-local">
      <package pattern="Coworkee.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
