.svg-animate path {
    stroke: lightgray;
    fill: transparent;
    stroke-width: 1;
    stroke-dasharray: 900 900;
    animation: strokeAni 1s infinite linear;

    @keyframes strokeAni {
        0% {
            fill: white;
            stroke-dashoffset: 900;
        }

        100% {
            fill: purple;
            stroke-dashoffset: 0;
        }
    }
}

.gradient-text {
    background: linear-gradient( 90deg,#dd36a5,#f68f56,#90ee90,#59aa73,#2a55b4,#fee654,#ec3771);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &.animate {
        animation: reverse textclip 3.0s linear infinite;

        @keyframes textclip {
            to {
                background-position: 200% center;
            }
        }
    }
}


.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.app-load {
    @keyframes slide {
        0% {
            transform: translateX(-25%);
        }

        100% {
            transform: translateX(25%);
        }
    }

    .mud-wasm {
        animation: slide 3s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg,#01052D 50%, #01020C 50%);
        bottom: 0;
        left: -50%;
        opacity: .5;
        position: fixed;
        right: -50%;
        top: 0;
        z-index: -1
    }

    .mud-wasm-cont {
        left: 50%;
        padding: 10vmin;
        position: fixed;
        text-align: center;
        top: 50%;
        transform: translate(-50%,-50%)
    }

    .sub-text {
        color: white;
        margin-top: 40px;
        font-family: Montserrat, Helvetica, Arial, sans-serif;
    }

    .app-preload {
        height: 100%;
        width: 100%;
        margin: 0;
        position: fixed;
    }
}

.jiggle-shake {
    @keyframes shake {
        8%, 41% {
            transform: translateX(-10px);
        }

        25%, 58% {
            transform: translateX(10px);
        }

        75% {
            transform: translateX(-5px);
        }

        92% {
            transform: translateX(5px);
        }

        0%, 100% {
            transform: translateX(0);
        }
    }

    animation: shake .5s linear;
}


.glow {
    @keyframes glow {
        0% {
            box-shadow: 0 0 5px var(--mud-palette-secondary), inset 0 0 5px var(--mud-palette-secondary), 0 1px 0 var(--mud-palette-secondary);
        }

        100% {
            box-shadow: 0 0 10px var(--mud-palette-secondary), inset 0 0 10px var(--mud-palette-secondary), 0 1px 0 var(--mud-palette-secondary);
        }
    }

    animation: glow 500ms ease-out infinite alternate;
}


.slide-from {
    &-left {
        transform: translateX(-100vw);
    }

    &-right {
        transform: translateX(100vw);
    }

    &-bottom {
        transform: translateY(100vh);
    }

    &-top {
        transform: translateY(-100vh);
    }
}

.slide-to {
    &-left {
        transform: translateX(0);
    }

    &-right {
        transform: translateX(0);
    }

    &-bottom {
        transform: translateY(0);
    }

    &-top {
        transform: translateY(0);
    }
}

.animate-all-properties {    
    transition-property: all !important;
}

.slide-kf-from-right {
    /*animation-iteration-count: 1 !important;*/
    animation: slideIn-r 900ms ease-in-out 1 alternate;
}

@keyframes slideIn-r {
    0% {
        transform: translateX(100vw);
    }

    85% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideIn-t {
    0% {
        transform: translateY(-100vw);
    }

    85% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fade-in-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}