.svg-animate path {
    stroke: lightgray;
    fill: transparent;
    stroke-width: 1;
    stroke-dasharray: 900 900;
    animation: strokeAni 1s infinite linear;

    @keyframes strokeAni {
        0% {
            fill: white;
            stroke-dashoffset: 900;
        }

        100% {
            fill: purple;
            stroke-dashoffset: 0;
        }
    }
}


.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.app-load {
    @keyframes slide {
        0% {
            transform: translateX(-25%);
        }

        100% {
            transform: translateX(25%);
        }
    }

    .mud-wasm {
        animation: slide 3s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg,#01052D 50%, #01020C 50%);
        bottom: 0;
        left: -50%;
        opacity: .5;
        position: fixed;
        right: -50%;
        top: 0;
        z-index: -1
    }

    .mud-wasm-cont {
        left: 50%;
        padding: 10vmin;
        position: fixed;
        text-align: center;
        top: 50%;
        transform: translate(-50%,-50%)
    }

    .sub-text {
        color: white;
        margin-top: 40px;
        font-family: Montserrat, Helvetica, Arial, sans-serif;
    }

    .app-preload {
        height: 100%;
        width: 100%;
        margin: 0;
        position: fixed;
    }
}