$color1: azure;
$color2: green;
$color3: red;
$color4: blue;
$color5: yellow;
$color6: orange;
$color7: purple;
$color8: cyan;


body.app-loading {
    background-image: url('/media/background-1.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
        content: "";
        position: fixed;
        opacity: 0.2;
        bottom: 0;
        left: -50%;
        right: -50%;
        top: 0;
        z-index: -1;
        background-size: 200% 100%;
        animation: slide 6s linear infinite;
    }

    &::before {
        background-image: linear-gradient(-60deg, $color1 25%, $color2 25%, $color2 75%, $color1 75%);
    }

    &::after {
        background-image: linear-gradient(-60deg, $color3 25%, $color4 25%, $color4 75%, $color3 75%);
        animation-direction: reverse;
    }

    &::first-letter,
    &::first-line {
        content: "";
        position: fixed;
        opacity: 0.2;
        bottom: 0;
        left: -50%;
        right: -50%;
        top: 0;
        z-index: -1;
        background-size: 200% 100%;
        animation: slide 6s linear infinite;
    }

    &::first-letter {
        background-image: linear-gradient(-60deg, $color5 25%, $color6 25%, $color6 75%, $color5 75%);
    }

    &::first-line {
        background-image: linear-gradient(-60deg, $color7 25%, $color8 25%, $color8 75%, $color7 75%);
        animation-direction: reverse;
    }
}

@keyframes slide {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(50%);
    }
}




/* Optional */
    .mud-ex-app-loader-loading-container {
        --accent-color1: #01052D;
        --accent-color2: #423859;
        --accent-color3: #01020C;
        --accent-color4: #d0a733;

        @keyframes slide {
            0% {
                transform: translateX(-25%);
            }

            100% {
                transform: translateX(25%);
            }
        }

        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            animation: slide 3s ease-in-out infinite alternate;
            background-image: linear-gradient(-60deg,var(--accent-color1) 50%, var(--accent-color3) 50%);
            bottom: 0;
            left: -50%;
            opacity: 0.4;
            position: fixed;
            right: -50%;
            top: 0;
            z-index: -1;
        }

        .app-name {
            background: linear-gradient( 90deg,#dd36a5,#f68f56,#90ee90,#59aa73,#2a55b4,#fee654,#ec3771);
            background-size: 200% auto;
            font-family: Montserrat, Helvetica, Arial, sans-serif;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
