/*@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');*/
@import '_animations.scss';
@import '_app_load.scss';

html, body, #app, .mud-main-content, .mud-rtl-provider {
    height: 100%;
}

.app-main-container {
    height: 93%;
}

.sf-license-warning {
    display: none;
}

.mud-drawer.mud-drawer-fixed.mud-drawer--open.mud-drawer-temporary {
    min-width: 310px;
}

body * {
    transition-property: background-color, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.no-padding {
    padding: 0;
}

.transparent {
    background-color: transparent
}

.uppercase {
    text-transform: uppercase;
}

.mud-menu.role-selector-menu {
    min-width: 185px;
    max-width: 300px;
    text-overflow: ellipsis;
}

.full-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999
}

.loader-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99999;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    font-size: 0;
    color: #9acbd7;
    display: inline-block;
    margin: -25px 0 0 -25px;
    text-indent: -9999em;
    transform: translateZ(0);
}

.loader div {
    background-color: #1988a4;
    display: inline-block;
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    opacity: 0.5;
    border-radius: 50%;
    animation: ballPulseDouble 2s ease-in-out infinite;
}

.loader div:last-child {
    animation-delay: -1s;
}


@keyframes ballPulseDouble {
    0%, 100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

/*Nav Menu*/
.mini-divider {
    width: 100%;
    left: 0;
    margin-top: 30px;
    position: absolute;
    margin-bottom: 16px !important;
}

.mini-nav-link {
    left: 0;
    position: absolute
}

.mini-avatar {
    margin-left: -4px;
}

.z-tt {
    z-index: 3000 !important;
}

.notification-badge {
    margin-bottom: 20px;
    margin-left: -5px;
}

.notifications-expansion-panel {
    overflow: auto;
    max-height: 800px;
}

.top-alert {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    /*animation-iteration-count: 1 !important;*/
    animation: kf-mud-dialog-slide-top 1500ms ease-in-out 1 alternate;
}

.disable-pointer-events-on-next-input > div.mud-input-control-input-container > div.mud-input > input {
    pointer-events: none;
}

/*REMOVE MUDEX*/
.drop-zone {
    transition: all .4s;
    padding: 20px;
    width: 100%;
    min-height: 60px;
    border-radius: 5px;
}

.drop-zone.hover {
    border-style: solid;
    box-shadow: var(--mud-elevation-10);
    border: 3px dotted var(--mud-palette-primary);
}

/*TODO::Remove because in MudEx*/
.mud-alert-close-no-flex > .mud-alert-close {
    display: initial;
}
/*TODO::Remove because in MudEx*/
.mud-alert-message-w-100 > .mud-alert-position > .mud-alert-message {
    width: 100%;
}
/*TODO::Remove because in MudEx*/
.mud-alert-message-mt-5 > .mud-alert-position > .mud-alert-message {
    margin-top: -5px;
}

/*TODO::Remove because in MudEx*/
.dialog-content-full-height > .outline-none {
    height: 100%
}
/*TODO::Remove because in MudEx*/
.full-height {
    height: 100%;
}

.flex-column {
    display: flex;
    flex-flow: column
}

.overflow-hidden {
    overflow: hidden !important;
}

.mud-ex-dialog-initial {
    display: none !important;
}

.user-online-badge > .mud-badge-bottom .right {
    margin-left: -5px;
    margin-top: -5px;
}

.w-100 {
    width: 100%;
}

.page-selection-menu > .mud-button {
    font-size: 17pt;
    font-weight: normal;
    text-transform: capitalize;
}

.hover-scale {
    transition: transform 0.4s;
    transform: scale(1);

    &:hover {
        transform: scale(1.03);
    }
}

.hover-border {
    transition: border-color 0.4s, border-width 0.1s;

    &:hover {
        border-color: var(--mud-palette-primary);
        border-width: 3px;
    }
}

.hover-box-shadow {
    transition: box-shadow 0.4s;

    &:hover {
        box-shadow: 0 0 0 3px var(--mud-palette-primary);
    }
}

.z-10i {
    z-index: 10 !important;
}

.role-selector-popover {
    margin-left: 100px;

    &.rtl {
        margin-left: -100px;
    }
}

.primary-border {
    box-shadow: 0 0 0 2px var(--mud-palette-primary);
}

.primary-background {
    background-color: var(--mud-palette-primary);
}

.cursor-pointer-deep * {
    cursor: pointer !important;
}

.sf-rich-text-editor-disabled .e-toolbar-container {
    display: none;
}

.action-bar-border {
    border-top: 2px dashed var(--mud-palette-secondary);
}

.red-border {
    border: 1px solid red;
}

.mud-tabs-stick-merge .mud-tabs-tabbar {
    position: sticky;
    top: -2px;
}

.mud-tabs-stick-merge .mud-tabs-tabbar[stuck] {
    width: 450px;
    position: sticky;
    z-index: 4;
    top: calc(var(--mud-appbar-height) + 10px);
}

.app-sticky-bottom-actionbar-surface {
    position: sticky;
    bottom: 0;
    border-top: 2px dashed var(--mud-palette-secondary);
    background-color: var(--mud-palette-surface);
}

.app-sticky-bottom-actionbar-body {
    position: sticky;
    bottom: 0;
    border-top: 2px dashed var(--mud-palette-secondary);
    background-color: var(--mud-palette-background);
}

.deletion_status_message {
    font-style: italic;
    opacity: 0.7;
}