.changed {
    font-style: italic;
    text-decoration: underline;
}

.table-value-prefix {
    float: left;
    margin-right: 2px;
}

.table-value-prefix-with-mudex-object-edit {
    margin-top: 5px;
    font-size: 16px;
}