
.slide-kf-from-right {
    animation: kf-mud-dialog-slide-right 900ms ease-in-out 1 alternate;
}
.slide-kf-from-left {
    animation: kf-mud-dialog-slide-left 900ms ease-in-out 1 alternate;
}
.slide-kf-from-top {
    animation: kf-mud-dialog-slide-top 900ms ease-in-out 1 alternate;
}
.slide-kf-from-bottom {
    animation: kf-mud-dialog-slide-bottom 900ms ease-in-out 1 alternate;
}
